  .menu {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .menu a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 50px;
  }
  
  .menu a:hover {
    background-color: #f2f2f2;
  }  


  