.help-form {
  width: 60%;
  margin-left: 20%;
  height: 500px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 15px 35px rgb(0, 0, 0, 0.4);
  background-color: #dad9d9;
}
.helpinput {
  display: block !important ;
  margin-bottom: 50px;
}
.helpinput:first-child {
  width: 300px;
  height: 30px;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  margin-top: 70px;
}
#textareaInput {
  display: block;
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  border: #ccc solid 1px;
  border-radius: 5px;
  resize: vertical;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.help {
  text-decoration: none;
  color: rgb(255, 255, 255, 0.8);
  background: #e47911;
  padding: 15px 40px;
  border-radius: 4px;
  font-weight: normal;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
}

body {
  height: 100%;
  width: 100%;
  margin-bottom: 100px;
}
.container {
  margin-bottom: 100px;
  height: 100%;
  width: 100%;
}

footer {
  margin-top: 100px;
  position: fixed;
  bottom: 0;
}
