body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
 
  
  h1 {
    margin: 0;
  }
  
  #commandes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  
  .commande {
    background-color: #f4f4f4;
    border-radius: 4px;
    padding: 20px;
    width: 300px;
    cursor: pointer;
  }
  
  .commande:hover {
    background-color: #eaeaea;
  }
  