.container {
  max-width:100%;
  height: 100%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
}

h1 {
  text-align: center;
}

.product-form {
  margin-bottom: 20px;
}

.product-form h2 {
  margin-bottom: 10px;
}

.product-form label,
.product-form input{
  display: block;
  margin-bottom: 10px;
}

.product-form button {
  margin-top: 10px;
  background-color: #f0c14b;
  border: 1px solid #a88734;
  color: #111;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.product-form button:hover {
  background-color: #f7ca88;
}

.product-list ul {
  list-style: none;
  padding: 20px;
}

.product-list li {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  display: flex;
}

.product-image {
  flex: 0 0 100px;
  margin-right: 10px;
}

.product-image img {
  max-width: 100px;
  max-height: 100px;
}

.product-details {
  flex: 1;
}

.product-details h3 {
  margin-top: 0;
}

.product-details p {
  margin: 5px 0;
}

.product-details .product-price::before,
.product-details .product-quantity::before,
.product-details .product-dimensions::before,
.product-details .product-weight::before {
  font-weight: bold;
  content: "";
}

.product-details .product-price::before {
  content: "Prix: ";
}

.product-details .product-quantity::before {
  content: "Quantité: ";
}

.product-details .product-dimensions::before {
  content: "Dimensions: ";
}

.product-details .product-weight::before {
  content: "Poids: ";
}

.product-details button {
  background-color: #f0c14b;
  border: 1px solid #a88734;
  color: #111;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.product-details button:hover {
  background-color: #f7ca88;
}
