body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }

  .Mcontainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    max-width: 100%;
    margin: 0 auto;
  }

  .menu {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .menu a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 50px;
  }
  
  .menu a:hover {
    background-color: #f2f2f2;
  }  