body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #232f3e;
    color: #fff;
  }
    .logo {
      padding-left: 10px;
      font-size: 24px;
      font-weight: bold;
      text-decoration: none;
      color: #fff;
    }
    
    .search-bar {
      display: flex;
    }
    
    .search-bar input[type="text"] {
      padding: 8px;
      border: none;
    }
    
    .search-bar button {
      background-color: #FF9900;
      color: #fff;
      border: none;
      padding: 8px 16px;
      cursor: pointer;
    }
    #loupe{
      height: 15px;
      width :25px;
    }
    .navigation a {
      list-style-type: none;
      text-decoration: none;
      color: #fff;
      margin: 0;
      padding: 0;
    }
  
    .navigation a:hover{
      color:#e47911;
      border: 3px solid #e47911;
      padding: 9px;
    }
    
    .navigation li {
      display: inline;
      margin-left: 20px;
    }
    
    .navigation li:first-child {
      margin-left: 0;
    }

  .Mcontainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 15px;
    max-width: 100%;
    margin: 0 auto;
  }

  .menu {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .menu a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 50px;
  }
  
  .menu a:hover {
    background-color: #f2f2f2;
  }  
  .footer {
    background-color: #232f3e;
    color: #fff;
    bottom: 0px;
    position: absolute;
    width: 100%;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
  }
  
  .contact-info {
    flex: 1;
  }
  
  .social-links {
    flex: 1;
  }
  
  .contact-info h3,
  .social-links h3 {
    margin-bottom: 10px;
  }
  
  .contact-info p,
  .social-links ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .social-links ul li {
    margin-bottom: 5px;
  }
  
  .social-links a {
    color: #fff;
    text-decoration: none;
  }